<a href="https://colab.research.google.com/github/rowaina2025/python_dataScience/blob/ourCodes/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn import datasets
from scipy.stats import chi2_contingency, chi2
import math

In [2]:
def load_iris():

    iris = datasets.load_iris()#Hint: use datasets from sklearn
    return iris

In [3]:
def represent_data(iris):
  
    #The column names of the new table
    col_names = ['sepal length', 'sepal width', 'petal length', 'petal width', 'species']
    #Constructing the new table
    data = pd.DataFrame(iris.data)#Hint: use pandas to construct the new data format with col_names as the columns names
    data.rename(columns = {0:col_names[0], 1:col_names[1], 2:col_names[2], 3:col_names[3]}, inplace=True)
    name = iris.target
    data[col_names[4]] = name
    print('Samples from the Data:')
    display(data.head())
    return data

In [87]:
    iris = datasets.load_iris()
    name = iris.target
    display(name)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [84]:
def calculate_chi2_value(freq_table, expected_table):
  
    freq = pd.DataFrame(freq_table).to_numpy()
    expected = pd.DataFrame(expected_table).to_numpy()
    col = len(freq_table.columns) 
    row = len(freq_table.axes[0]) 
    chi2_value = 0
    for i in range(row ):
      for j in range(col ):
         chi2_value = chi2_value + (math.pow(freq[i][j] - expected[i][j],2))/ expected[i][j]
    return chi2_value

In [5]:
def calculate_p_value(chi2_value, df):
  
    p_value = 1 - chi2.cdf(chi2_value,df)

    return p_value

In [61]:
def tabulate(data, label1, label2):
    
    freq_table = pd.crosstab(index=data[label1], columns=data[label2], margins = True)    
    freq = pd.DataFrame(freq_table).to_numpy() #convert frequency dataframe into array   
    col = len(freq_table.columns) #number of rows
    row = len(freq_table.axes[0]) #number of columns
    df = (col-2) * (row - 2)
    exp = [[0]*(col -1)]* (row-1) #initialize exp array with value 0
    for i in range(row - 1) : 
      for j in range(col - 1) :
        exp[i][j] = (freq[row - 1][j] * freq[i][col - 1]) / freq[row - 1][col - 1] #expected frequency calculation
    cols = []
    for i in range(col-1):
      cols.append(i) 
    expected_table = pd.DataFrame(exp, columns = cols)#col names of exp table
    freq_table = pd.crosstab(index=data[label1], columns=data[label2])
    chi2_value = calculate_chi2_value(freq_table, expected_table)
    p_value = calculate_p_value(chi2_value, df) 
    print('The observed tabel:')
    display(freq_table)
   
    return freq_table, chi2_value, p_value, df, expected_table

In [85]:
def assert_results(freq_table, chi2_value, p_value, df, expected_table):
   
    good = True
    
    stat, p, dof, expected = chi2_contingency(freq_table)
    if(round(chi2_value,5) != round(stat,5)) :
      good = False
      print(stat)
    if(round(p_value,5) != round(p,5)):
      good = False
      print(p)
    if(df != dof):
      good = False
      print(dof)
    exp = pd.DataFrame(expected_table).to_numpy()
    col = len(freq_table.columns) 
    row = len(freq_table.axes[0])
    for i in range(row - 1):
      for j in range(col - 1):
        if(expected[i][j] != exp[i][j]):
          good = False
          break
        if (good == False):
          break 
    
    return good

In [86]:

#Loading the dataset
iris = load_iris()

#Tabulating the raw data
data = represent_data(iris)

#Define the level of significance
alpha = 0.1

col_names = data.columns
n = len(col_names)
#Traverse the features except the target label
for j in range(0, n-1):
    print('Working on the target label(species) vs. ' + col_names[j])
    
    #Apply the independence test
    freq_table, chi2_value, p_value, df, expected_table = tabulate(data, 'species', col_names[j])
    print('\t-chi square sum: ' + str(chi2_value))
    print('\t-p-value: ' + str(p_value))
    print('\t-degrees of freedom: ' + str(df))
    
    #Check the results
    good = assert_results(freq_table, chi2_value, p_value, df, expected_table)
    
    print('\t-Are these results correct? --- ' + str(good))
    if p_value < alpha:
        print('\t-The target label is dependent on the feature: ' + col_names[j])
    else:
        print('\t-The target label: is independent of the label: ' + col_names[j])
    print('\n')

Samples from the Data:

   sepal length  sepal width  petal length  petal width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

Working on the target label(species) vs. sepal length
The observed tabel:

sepal length,4.3,4.4,4.5,4.6,4.7,4.8,4.9,5.0,5.1,5.2,...,6.8,6.9,7.0,7.1,7.2,7.3,7.4,7.6,7.7,7.9
species,,,,,,,,,,,,,,,,,,,,,
0,1,3,1,4,2,5,4,8,8,3,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,2,1,1,...,1,1,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,2,3,0,1,3,1,1,1,4,1

	-chi square sum: 156.2666666666666
	-p-value: 6.6659873176888595e-09
	-degrees of freedom: 68
	-Are these results correct? --- True
	-The target label is dependent on the feature: sepal length


Working on the target label(species) vs. sepal width
The observed tabel:

sepal width,2.0,2.2,2.3,2.4,2.5,2.6,2.7,2.8,2.9,3.0,...,3.4,3.5,3.6,3.7,3.8,3.9,4.0,4.1,4.2,4.4
species,,,,,,,,,,,,,,,,,,,,,
0,0,0,1,0,0,0,0,0,1,6,...,9,6,3,3,4,2,1,1,1,1
1,1,2,3,3,4,3,5,6,7,8,...,1,0,0,0,0,0,0,0,0,0
2,0,1,0,0,4,2,4,8,2,12,...,2,0,1,0,2,0,0,0,0,0

	-chi square sum: 89.546287046287
	-p-value: 6.01603148220331e-05
	-degrees of freedom: 44
	-Are these results correct? --- True
	-The target label is dependent on the feature: sepal width


Working on the target label(species) vs. petal length
The observed tabel:

petal length,1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7,1.9,3.0,...,5.7,5.8,5.9,6.0,6.1,6.3,6.4,6.6,6.7,6.9
species,,,,,,,,,,,,,,,,,,,,,
0,1,1,2,7,13,13,7,4,2,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,3,3,2,2,3,1,1,1,2,1

	-chi square sum: 271.79999999999995
	-p-value: 0.0
	-degrees of freedom: 84
	-Are these results correct? --- True
	-The target label is dependent on the feature: petal length


Working on the target label(species) vs. petal width
The observed tabel:

petal width,0.1,0.2,0.3,0.4,0.5,0.6,1.0,1.1,1.2,1.3,...,1.6,1.7,1.8,1.9,2.0,2.1,2.2,2.3,2.4,2.5
species,,,,,,,,,,,,,,,,,,,,,
0,5,29,7,7,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,7,3,5,13,...,3,1,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,1,1,11,5,6,6,3,8,3,3

	-chi square sum: 271.75
	-p-value: 0.0
	-degrees of freedom: 42
	-Are these results correct? --- True
	-The target label is dependent on the feature: petal width